/* Set font and background color for the body. */
body {
  font-family: 'Inter';
  background-color: black;
  text-transform: capitalize;
}

/* Limit max size screen for desktop breakpoint, 1920px. */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background-color: black;
  color: white;
}

/* Adjust store logo size. */
#img_logo {
  width: 120px;
  height: 120px;
}

/* Adjust shopping cart logo. */
#img_cart {
  width: 90px;
  height: 90px;
}

/* Navigation items - All sizes. */
.nav-items {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 1.7vw;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
}

/* Navigation items list - All sizes. */
.nav-items li {
  display: block;
}

/* Remove underline format. */
.nav-items a {
  text-decoration: none;
  color: black;
}

/* Change color when hovering.  */
.nav-items a:hover {
  background-color: #F89C14;
}